[Desktop Entry]
Version=1.0
Type=Application
Name=Soplos Kernel Installer
Name[de]=Soplos Kernel-Installer
Name[es]=Instalador de Kernel Soplos
Name[fr]=Installateur de Kernel Soplos
Name[it]=Installatore Kernel Soplos
Name[pt]=Instalador de Kernel Soplos
Name[ro]=Instalator Kernel Soplos
Name[ru]=Установщик ядра Soplos
Comment=Download, patch and install the Linux kernel
Comment[de]=Linux-Kernel herunterladen, patchen und installieren
Comment[es]=Descarga, parchea e instala el kernel de Linux
Comment[fr]=Télécharger, patcher et installer le kernel Linux
Comment[it]=Scarica, applica patch e installa il kernel Linux
Comment[pt]=Baixe, aplique patches e instale o kernel Linux
Comment[ro]=Descarcă, aplică patch-uri și instalează kernel-ul Linux
Comment[ru]=Загрузка, патчинг и установка ядра Linux
GenericName=Kernel Installer
GenericName[de]=Kernel-Installer
GenericName[es]=Instalador de Kernel
GenericName[fr]=Installateur de Kernel
GenericName[it]=Installatore Kernel
GenericName[pt]=Instalador de Kernel
GenericName[ro]=Instalator Kernel
GenericName[ru]=Установщик ядра
Keywords=kernel;linux;compile;patch;bore;rt;secure boot;
Keywords[es]=kernel;linux;compilar;parches;bore;rt;arranque seguro;
Exec=soplos-kernel-installer
Icon=org.soplos.kernel-installer
Categories=System;
StartupNotify=true
StartupWMClass=org.soplos.kernel-installer
Terminal=false
